.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item--active .breadcrumbs__link {
color: #999999;
text-decoration: none;
}
.breadcrumbs__link {
  color: #dfb56d;
  font-size: 14px;
}
.breadcrumbs__item:after {
  content: "/";
  color: #999;
  margin-left: 4px;
  margin-right: 4px;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
}