.contacts__title { 
font-size: 13px; 
font-family: "OpenSans", sans-serif; 
color: rgb(223, 181, 109); 
text-decoration: underline; 
line-height: 7.595em; 
font: 13px/7.595 'open sans', sans-serif; 
-moz-osx-font-smooothing: grayscale; 
text-align: left; 
position: absolute; 
left: 1433px; 
top: 156.786px; 
width: 97px; 
height: 13px; 
z-index: 124; 
} 

.contacts__phone { 
font-family: 'Open Sans', sans-serif; 
color: rgb(255, 255, 255); 
font-weight: regular; 
font-size: 25px; 
line-height: 3.797em; 
font: 25px/3.797 'open sans', sans-serif; 
-moz-osx-font-smooothing: grayscale; 
text-align: left; 
position: absolute; 
left: 1339.937px; 
top: 125.019px; 
width: 189px; 
height: 19px; 
z-index: 123; 
} 
.menu__list { 
font-size: 14px; 
font-family: "OpenSans" sans-serif; 
color: rgb(255, 255, 255); 
font-weight: regular; 
line-height: 7.052em; 
font: 14px/7.052 'open sans', sans-serif; 
-moz-osx-font-smooothing: grayscale; 
text-align: left; 
position: absolute; 
left: 650.937px; 
top: 144.979px; 
width: 262px; 
height: 13px; 
z-index: 122; 
} 

.menu__item { 
font-size: 14px; 
font-family: "OpenSans" sans-serif; 
color: rgb(255, 255, 255); 
font-weight: regular; 
line-height: 7.052em; 
font: 14px/7.052 'open sans', sans-serif; 
-moz-osx-font-smooothing: grayscale; 
text-align: left; 
position: absolute; 
left: 650.937px; 
top: 144.979px; 
width: 262px; 
height: 13px; 
z-index: 122;