.offers {
  margin-bottom: 136px;
}
 .offers__items {
   display: flex;
   justify-content: space-between;
 }
.offers__title {
  font-size: 36px; 
  font-weight: bold;
  margin-bottom: 49px;
  letter-spacing: 0px;
}
.offers__item {
  width: calc(100% / 3 - 18px);
}
.offer {
  min-height: 470px;
  background: #fff;
  border-radius: 4px;
  color: #010001;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.offer__item:last-child {
  margin-right: 0;
}
.offer__header {
  min-height: 156px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer__header::before {
  content: "";
  width: 298px;
  height: 273px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -108px;
  right: -103px;
  background: #ccc;
}
.offer__item-background {
  position: relative;
}
.offer__content {
  padding: 32px 30px 36px;
  flex: 1;
}
.offer__item-text {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}
.offer__item-info {
  margin-right: 2px;
}
.offer__item-info:last-child {
  margin-right: 0;
}
.offer__item--theme--grey .offer__header::before{
  background: #a5a5a4;
}
.offer__item--theme--blue .offer__header::before{
  background: #556180;
}
.offer__item--theme--gold .offer__header::before{
  background: #978455;
}
.offer__item-subtitle {
  font-size: 35px;
}
.offer__item-description {
  color: #333333;
  width: 142px;
}
.offer__item-prices {
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.offer__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: auto;
}