.about::before {
  content: "";
  width: 488px;
  height: 504px;
  background: url("/img/decor/chess.jpg") center center / cover no-repeat;
  border-radius: 6px;
  overflow: hidden;
  display: block;
}
.about {
  display: flex;
}
.about__desc {
  background: #202123;
  padding: 71px 105px;
  max-width: 780px;
  min-height: 450px;
  margin-left: -128px;
  margin-top: 108px;
  padding-left: 98px;
  padding-right: 101px;
}
.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 28px;
}
.about__desc-text {
  margin-bottom: 42px;
}
.about__desc-text p {
  margin-bottom: 0px;
  line-height: 1.7;
  letter-spacing: -0.33px;
}