.dropdown__contacts {
  position: relative;
}
.dropdown__contacts:hover .dropdown__menu  {
  display: block;
  transition: 1s;
}
.dropdown__menu {
  position: absolute;
  background: #d2d1d1;
  border-radius: 4px;
  padding: 12px 17px;
  font-size: 13px;
  display: none;
  margin-top: 9px;
  margin-left: 35px;
}
.dropdown__text {
  color: #1e1f20;
  font-weight: bold;
}
.triangle {
  position: absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #d2d1d1;
  padding-top: 52px;
  margin-left: 127px;
}
.dropdown__menu::before {
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}