.header {
  padding-top: 45px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .header__col {
   display: flex;
   align-items: center;
 }
 .header__col--align--right {
   justify-content: flex-end;
 }
 .header__service {
   padding-top: 25px;
 }