.media__list {
  margin-left: 105px;
  width: 187px;
  display: flex;
  align-items: center;
  position: relative;
}
.media__link {
  display: block;
  text-decoration: none;
  height: 62px;
  width: 36px;
  background: center center no-repeat;
}
.media__item {
  margin-right: 6px;
}
.media__item:last-child {
  margin-right: 0px;
}
.media__item--icon--vk .media__link::after {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  position: absolute;
  width: 36px; height: 36px;
  background: url('./img/icons/socials/sprites.png') -10px -122px;
}
.media__item--icon--vk .media__link:hover::after {
  background-position: -122px -122px;
  transition: 1s;
}
.media__item--icon--telegram .media__link {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  position: absolute;
  width: 36px; height: 36px;
  background: url('./img/icons/socials/sprites.png') -122px -10px;
}
.media__item--icon--telegram .media__link:hover::after {
  background-position: -122px -66px;
  transition: 1s;
}
/* .media__item--icon--fb .media__link {
  background-image: url(/img/icons/socials/facebook.png);
}
.media__item--icon--fb .media__link:hover {
  background-image: url(/img/icons/socials/facebook-hover.png);
} */

.media__item--icon--fb .media__link {
  background-image: url(/img/icons/socials/facebook-hover.png);
}

.media__item--icon--inst .media__link {
  background-image: url(/img/icons/socials/instagram.png);
}
.media__item--icon--inst .media__link:hover {
  background-image: url(/img/icons/socials/instagram-hover.png);
  transition: 1s;
}