.page-content {
  margin-bottom: auto;
}
.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 52px;
}
.page {
  background: #fff;
  color: #818181;
  padding: 40px 0;
}
.page-container {
  width: 1170px;
}
.page-service {
  padding-bottom: 125px;
}
.page-reviews {
  background: #f4f5f5;
}