.partners__link {
  text-decoration: none;
  display: flex;
  min-width: 227px;
  height: 100px;
  align-items: center;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners__item {
  margin-bottom: 29px;
  min-width: 229px;
  max-width: 300px;
  flex-grow: 1;
  filter: grayscale(1);
  transition: .3s;
}
.partners__item:hover {
filter: grayscale(0);
}
.partners__item:nth-child(4n) .partners__link {
 justify-content: flex-end;
}